<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ReverseGeocode</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">


  <h2>ReverseGeocode</h2>
  <form  action="/reversegeocode" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="coordinate">coordinate: The latitude and longitude for the reverse geocode address lookup. (e.g. 33.559768,-117.728416) </label>
      <input type="text" class="form-control" id="coordinate" name="coordinate" placeholder="33.559768,-117.728416">
      <br>
      <label for="api_key">api_key: Your API Key</label>
      <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Please obtain an API key">
      <br>

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <br>
  {{ result }}
</div>
<br>
</div>
</div>
</body>
</html>
